*{
    margin: 0;
    padding: 0;
}

/*========= Backgrount Variable ==========*/
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --orange :#fe4003;
    --black:#000000;
    --gray:#303030;
}



/*======== Common Style  start ==========*/


html,
body {
  font-size: 15px;
  color: var(--gray);
  font-family: "Open Sans", sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
}

/*========= Backgrount Color ==========*/
.bg-blue{ background-color: var(--blue) !important; }
.bg-white{ background-color: var(--white) !important; }
.bg-orange{ background-color: var(--orange) !important; }
.bg-black{ background-color: var(--black) !important; }
.bg-gray{ background-color: var(--gray) !important; }

/*======== Text Color ==========*/
.text-blue{ color: var(--blue) !important; }
.text-white{ color: var(--white) !important; }
.text-orange{ color: var(--orange) !important; }
.text-black{ color: var(--black) !important; }
.text-gray{ color: var(--gray) !important; }

/*========= Div Position  =========*/
.content-center{  display: flex;  justify-content: center; }
.content-between{  display: flex;  justify-content: space-between; }
.content-left{  display: flex;  justify-content: left; }
.content-right{  display: flex;  justify-content: right; }

/*=========== Button CSS ===========*/
.btn-prime{
  font-size: 16px;
  color: var(--white);
  border: 1px solid var(--orange);
  background-color: var(--orange);
}
.btn-prime:hover{
  color: var(--orange);
  border:1px solid var(--orange);
  background-color: var(--white);
}

.btn-price{
  font-size: 16px;
  color: var(--white);
  padding: 5px 11px;
  margin: 0;
  border: 1px solid var(--orange);
  border-radius: 5px;
  background-color: var(--orange);
}



/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

img {
  max-width: 100%;
  height: auto;
}
p {
  margin: 0 0 26px;
  line-height: 1.8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: var(--black);
  line-height: 1.2;
}
h1 {
  font-size: 70px;
  font-weight: 700;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 26px;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  font-weight: 700;
}
h5 {
  font-size: 18px;
  font-weight: 700;
}
h6 {
  font-size: 16px;
  font-weight: 700;
}

.uppercase {
    text-transform: uppercase !important;
  }
  .capitalize {
    text-transform: capitalize !important;
  }
  .bold-text {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }
  .extra-bold {
    font-weight: 800 !important;
  }
  a {
    color: var(--blue);
    transition: all 0.3s ease;
    text-decoration: none !important;
    outline: none !important;
  }
  a:active,
  a:hover {
    text-decoration: none;
    outline: 0 none;
    color: var(--blue);
  }
  ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
  }
  .clear {
    clear: both;
  }
  ::-moz-selection {
    background: #21a7d0;
    text-shadow: none;
    color: #ffffff;
  }
  ::selection {
    background: #21a7d0;
    text-shadow: none;
    color: #ffffff;
  }
  .border-none:last-child {
    border-right: none !important;
  }
/*======== Common Style  End ==========*/

/*================ Preloader ===============*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #5fcf80;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*=============== Disable aos animation delay on mobile devices ================*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*===== Header Section ===========*/

/*======== Top Bar =========*/

.header-style2 {
    width: 100%;
    z-index: 999;
    box-shadow: 1px -3px 15px -5px;
}
.rs-header {
z-index: 99;
}
.topbar-area {
    background: #273c66;
}

.topbar-contact li {
    display: inline-block;
    line-height: 50px;
    height: 50px;
    margin-right: 17px;
    padding-right: 20px;
    color: #ffffff;
    border-right: 1px solid #374A71;
}
.topbar-contact li i {
margin-right: 2px;
}
.topbar-contact li i.flaticon-email:before {
bottom: -1.5px;
position: relative;
}
.topbar-contact li i:before {
font-size: 16px;
color: #ffffff;
}
.topbar-contact li a {
color: #ffffff;
}
.topbar-contact li a:hover {
color: #21a7d0;
}
.topbar-contact li a:hover {
color: #21a7d0;
}
.topbar-contact li:last-child {
margin: 0;
border: none;
}
.topbar-right li {
display: inline;
margin-right: 30px;
}

.topbar-right li {
display: inline;
margin-right: 30px;
}
.social-icon{
color: var(--white);
}
.social-icon a{
    margin-right: 10px;
    font-size: 18px;
    color: var(--white);
}

/*==============Manu Bar ==============*/
.logo-part {
    position: relative;
    z-index: 9;
  }
  .logo-part img {
    max-height: 100px;
    max-width: 80px;
  }

  #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
  }
  
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: #5fcf80;
  }
  
  #header .logo img {
    max-height: 40px;
  }

/*========= Home Page =========*/
.h-700{
  height: 600px;
}

/*======== Home Slider Start ========*/
.carousel-caption {
  position: absolute;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: var(--white);
  top: 130px;
  left: 10%;
  text-align: left;
}
.slider-sub-title {
  font-size: 30px;
  line-height: 40px;
  font-family: 'Nunito', sans-serif;
  color: var(--white);
  margin-bottom: 24px;
}
.slider-title {
  font-size: 60px;
  line-height: 75px;
  color: var(--white);
  margin-bottom: 39px;
  margin-left: -5px;

}
.slider-button{
  outline: none;
  border: none;
  padding: 12px 40px;
  border-radius: 3px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #ffffff;
  background: #21a7d0;
  position: relative;
  overflow: hidden;
}
.future-icon{
  font-size: 26px;
}
.future-text{
  font-size: 17px;
  font-weight: 600;
}
/*======== Home Slider End ========*/

/*========== Video Section ===========*/
.video {
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(frontend.assets/img/video.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video .btn-play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}
.video .btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--orange);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}
.video .btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid var(--black);
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}
.video .btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--orange);
  border-radius: 50%;
  transition: all 200ms;
}

#videoModal {
  z-index: 99999;
}
#videoModal .modal-dialog {
  position: relative;
  max-width: 800px;
  margin: 60px auto 0 auto;
}
#videoModal .modal-body { 
  position: relative;
  padding: 0px;
}

/******************** Notice CSS *******************/
.default-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

#heading-gradiant {
  background-color: #002147;
  background-image: linear-gradient(to left, #ffb606, #002147, transparent);
}

.panel-body {
  padding: 15px;
  border: 1px solid #eee;
}
.panel {
  border: 0px !important;
}

input {
  border: 1px solid #e7e7e7;
  border-radius: inherit;
  box-shadow: inherit;
  /* min-height: 50px; */
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e7e7e7;
}
.notice-title{
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}
.notice-date{
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: var(--gray);
  text-align: justify;
  font-family: 'Poppins', Arial, sans-serif;
}
/***==== Notice SideBar CSS =====***/

.sidebar {
  padding-left: 35px;
}
.sidebar-item {
  float: left;
  margin-bottom: 50px;
  width: 100%;
  padding: 30px;
  border: 1px solid #e7e7e7;
}
.sidebar-item:last-child {
  margin-bottom: 0;
}
.sidebar-title {
  display: block;
}
.sidebar-title h4 {
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: -5px;
  padding-bottom: 15px;
  /* display: block; */
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.sidebar-title h4::before {
  background: #ffb606 none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 2px;
    position: absolute;
    width: 100px;
    z-index: -1;
}
.category li {
  padding: 8px 0;
}
.category li:first-child {
  margin-top: 0;
  padding-top: 0;
}
.category li a {
  display: inline-block;
  /* text-transform: capitalize; */
  color: var(--black);
  padding-left: 15px;
  font-size: 14px;
  font-weight: 600;
}
.category li a:hover{
  color: var(--orange);
}
.category li a i{
  padding-right:5px ;
}

/*========== Pagination =============*/
.pagination{
  display: flex;
  align-items: center;
}
.pagination li a {
  background-color: var(--orange);
  color: var(--white);
  padding: 5px;
  margin: 2px;
}
/* ul.category  li a::after {
  border-radius: 50%;
  border: 2px solid var(--black);
  content: "\e639";
  font-family: 'Poppins', sans-serif;
  height: 8px;
  left: 0;
  position: absolute;
  width: 8px;
  top: 10px;
}
.category li:first-child a::after {
  top: 0;
} */

/*********************** Single Notice Page ************************/
.notice-info {
  padding-right: 50px;
  /* border-right: 1px solid #e7e7e7; */
}
.top-author h4 {
  text-align: center;
  background: #f1f1f1;
  margin: 0;
  padding: 15px;
  border: 1px solid #e7e7e7;
  font-weight: 600;
  text-transform: uppercase;
}
.top-author .author-items {
  padding: 30px;
  border: 1px solid #e7e7e7;
  border-top: none;
  overflow: hidden;
}




/*** Footer ***/

.footer {
  /* margin-top: 10px;
  padding-top: 180px; */
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: 1px solid #FFFFFF;
  border-radius: 35px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--orange);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: var(--white);
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--white);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}






  @media (min-width: 992px ){
    .main-manu{
        display: flex;     
        justify-content: space-between;  
        align-items: center;
    }
  }