/* *{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  } */
  /* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  Handle
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  } */
  
  /* Handle on hover
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  } */

/* .sidebar{
    
}
.sidebar-scroll{
    height: 64vh; 
    overflow: scroll;
    
}
@media (min-width: 1200px) {
    .sidebar{
        width: 23% ;       
    }
  }
  @media (min-width: 992px ){
    .sidebar{
        width: 23%;       
    }
  }
  
@media (max-width: 992px){
    .sidebar{
        width: 30% ;       
    }
}
@media (max-width: 766px){
    .sidebar{
        width: 32%;       
    }
}


.btn-icon[aria-expanded="true"]{
    transform: rotate(90deg);
}*/
.btn-icon {
    width: 1.25em;
    line-height: 0;
    transform-origin: 0.5em 50%;
    padding-right: 30px;
}

.btn-toggle-nav li{
    padding: 5px 15px;
}
.btn-icon-child {
    width: 1.25em;
    line-height: 0;
    transform-origin: 0.5em 50%;
    padding-right: 20px;
}
.pagination li a{
    padding: 5px;
    margin: 0px 5px;
    background-color: rgb(218, 218, 218);
    text-decoration: none;
}
.pagination li a:active{
    background-color: rgb(2, 111, 184);
}

Student Data view 
.view{
    background-color: rgb(230, 230, 230) !important;
}

.view-table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
    
} 